[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PRISMA2020"]
	path = PRISMA2020
	url = https://github.com/prisma-flowdiagram/prisma2020
